table {
    width: 300px;
    border: 5px solid black;
}

th {
    background-color: red;
    color: white;
}

td {
    border: 2px solid black;
}

th,
td {
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #bbb;
    color: white;

}